<!--<div class="loader" *ngIf="isLoaded"></div>-->

<!--<div class="flex-center" *ngIf="!isLoaded">-->
<!--  <div class="container-fluid">-->
<!--    <h1 id="tableLabel">Города</h1>-->
<!--    <button (click)="openDialog(edited)">Создать</button>-->
<!--    <table class="table table-striped">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <td>Код</td>-->
<!--        <td>Наименование</td>-->
<!--        <td></td>-->
<!--        <td></td>-->
<!--      </tr>-->
<!--      </thead>-->
<!--      <tbody>-->
<!--      <tr *ngFor="let unit of units">-->
<!--        <td>{{unit.code}}</td>-->
<!--        <td>{{unit.nameRu}}</td>-->
<!--        <td>-->
<!--          <input type="button" value="Изменить" (click)="openDialog(unit)" class="btn btn-primary"/>-->
<!--        </td>-->
<!--        <td>-->
<!--          <input type="button" value="Удалить" (click)="delete(unit)" class="btn btn-danger"/>-->
<!--        </td>-->
<!--      </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--    <div>{{statusMessage}}</div>-->
<!--  </div>-->
<!--</div>-->
